h1 {
    text-align: center;
    padding-bottom: 35px;
}

h2{
    text-align: center;
}

p{
    text-align: center;

}

.quotes{
    padding-top: 50px;
    font-style: italic;
    text-align: center;
}

footer {
    padding-top: 98px;
    font-size: 8pt;
}

img{
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: lightblue;
  }

h3 {
    text-align: center;
  }

.bar{
    display: inline;
}

nav{
    text-align: center;
}

li{
    text-align: center;
}

nav, nav a {
    background-color: #00ccff;
    color:white;
    font-size: 18pt;
}
