h1 {
    text-align: center;
    padding-bottom: 35px;
}

h2{
    text-align: center;
}

p{
    text-align: center;

}

.quotes{
    padding-top: 50px;
    font-style: italic;
   
}

footer {
    text-align: right;
    padding-top: 265px;
    font-size: 8pt;
}

img{
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: lightblue;
  }