html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========================================CSS RESET====================================================*/

/*==========================================Destop====================================================*/


h1{
    color: #ec0404;
    text-align: center;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

.icecream img{
    width: 150px;
    height: auto;
    
}

.Vanilla{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align:left ;
    font-size: 1.5rem;
    color: #f8dddd;;
}

.Caramel{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align:left ;
    font-size: 1.5rem;
    color: #f5ce85;;
}

.Chocolate{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align:left ;
    font-size: 1.5rem;
    color: brown;;
}

.Strawberry{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-align:left ;
    font-size: 1.5rem;
    color: rgb(243, 116, 190);;
}



  .column {
    float: left;
    width: 100%;
    padding-left: 10rem;
    box-sizing: border-box;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

p{
    padding-top: 1rem;
    text-align: center;
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
}

header{
    background-color: #fd000040;
    padding-bottom: 0.5rem;
    
}

.logo img{
    width:70%;
    padding-top: 2rem;
    padding-left: 4.5rem;
    
    
}
.nav {
    overflow: hidden;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.nav a{
  color: #f2f2f2;
  background-color: rgb(255, 96, 96);
  border-radius: 40px;
  padding: 0.2rem;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
  
}

.nav a:hover{
  background-color: #ddd;
  color: black;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
  
  #footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;  
    background-color: #fd000040;     
    color: white;
    
  }


.facebook{
    width: 10.5%;
}

.twitter{
    width: 10.5%;
}

.insta{
    width: 7%;
}


  .footerflex {
    display: flex;
	align-items: center;
    text-align: center;
    padding: 15px 0 15px;
  }

  .flexitems {
    padding: 8px 0px 8px;
}



@media (min-width:768px){

    .column{
        width: 25%;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .nav {
        overflow: hidden;
        text-align: center;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
    .nav a{
        color: #f2f2f2;
        background-color: rgb(255, 96, 96);
        border-radius: 40px;
        padding: 1rem;
        text-decoration: none;
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .logo img{
        width: 25%;
        padding-top: 2rem;
        padding-left: 1rem;
        float: left;
    }
    .facebook{
        width: 5.5%;
        
    }
    .twitter{
        width: 5.5%;
    }
  
    .insta{
        width: 3.5%;
    }
}


@media (min-width:1000px){
    .nav {
        overflow: hidden;
        text-align: center;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }

    .nav a{
        color: #f2f2f2;
        background-color: rgb(255, 96, 96);
        border-radius: 40px;
        padding: 1rem;
        text-decoration: none;
        font-size: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
    
    }

    .logo img{
        width:16.5%;
        padding-top: 2rem;
        padding-left: 1rem;
        float: left;
    }


    .column{
        width: 25%;
        padding-top: 3rem;
        padding-left: 10rem;
    }

    

    .facebook{
        width: 3.5%;
        
    }
    .twitter{
        width: 3.5%;
    }
  
    .insta{
        width: 2%;
    }
}